<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>OS InventoryManager</title>
    <link rel="stylesheet" type="text/css" href="../assets/fonts/roboto/roboto.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/material-icons/material-icons.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/app-styles.css">
  </head>
  <body>
    <!-- Notifications show up here -->
    <div id="notification-list" class="list-group"></div>
    
    <!-- App Content Populated Here -->
    <div id='app-root'></div>
    <!-- jQuery -->
    <script>window.$ = window.jQuery = require('jquery');</script>

    <!-- App event listeners & handlers -->
    <script type="text/javascript" src="../app_components/app_event_listeners.js"></script>

    <!-- Other stuff -->
    <script type="text/javascript" src="../app_components/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../app_components/libs/material.min.js"></script>
    <script type="text/javascript" src="../app_components/libs/ripples.min.js"></script>

    <!-- This is where the app actually loads -->
    <script>
      $.material.init();
      require('../app_components/app');
    </script>
  </body>
</html>