{% include 'header' %}

{% include 'save-cancel_form', section: "start" %}

<div class="col-xs-12 col-sm-8 col-sm-offset-2">
  {% for setting in options.schema %}
    <div class="well row">
      {% include 'setting', setting: setting, current: settings[setting.name] %}
    </div>
  {% endfor %}
</div>

{% include 'save-cancel_form', section: "end" %}