{% include 'header' %}

{% include 'save-cancel_form', section: "start" %}

<div class="settings__list">
  {% for setting in options.schema %}
    {% include 'setting', setting: setting, current: settings[setting.name] %}
  {% endfor %}
</div>

{% include 'save-cancel_form', section: "end" %}