{% include 'header' %}

{% include 'settings-subheader' %}

<div class="settings__list">
  {% for setting in options.schema %}
    {% include 'setting', setting: setting, current: settings[setting.name] %}
  {% endfor %}
</div>