<div id='app-body'>
  {% if settings.app.is_working %}
    <p>Hello {% if options.name %}{{ options.name }}!{% else %}Liquid!{% endif %}</p>
  {% endif %}
    <div>Glyphicons working? <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
    <div>Material Icons working?<i class="material-icons">done</i></div>
</div>