<div id="template__{{ template }}" class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    {% if logged_in %}
      <p>Hello {% if options.user.name %}{{ options.user.name }}!{% else %}Liquid!{% endif %}</p>
      <div>Glyphicons working? <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
      <div>Material Icons working?<i class="material-icons">done</i></div>
    {% else %}
      <h3>Please <a href="login">Log In</a> To Continue</h3>
      <h3>Or change some <a href="settings">Settings</a> that you wouldn't normally have access to since you aren't logged in</h3>
    {% endif %}
  </div>
</div>