<div id="subheader">
  <div class="container-fluid">
    <div class="nav navbar navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="/settings/save"><span class="glyphicon glyphicon-tasks"></span>Save<span class="sr-only">save</span></a></li>
        <li><a href="/settings/cancel"><span class="glyphicon glyphicon-tasks"></span>Cancel<span class="sr-only">cancel</span></a></li>
      </ul>
    </div>
  </div>
</div>