/* For app specific CSS that doesn't need to change based on settings */
#app-root > div,
#app-root > form > div {
  padding: 0 20px;
}

#app-root > form {
  padding-top: 20px;
}

#app-main-nav {
  margin-bottom: 0px;
}

form.navbar-form.navbar-right {
  margin-bottom: 0;
}

form.navbar-form.navbar-right .btn-default {
  color: inherit !important;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

form.navbar-form.navbar-right .btn-default:hover {
  background-color: transparent;
}

.navbar-nav li .glyphicon {
  margin-right: 10px;
}

.navbar-nav li a:hover {
  color: black !important;
}

#subheader {
  margin-top: -20px;
}

#subheader a {
  color: white;
}

#subheader a:hover {
  background-color: inherit;
}

.action__buttons {
  border-bottom-left-radius: 4px;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.delay-done .action__buttons {
  transform: translateX(0);
}

.action__buttons li a:focus {
  background-color: inherit;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

/* Show help on hover over inputs */
.form-group:hover > .help-block {
  display: block;
}

.well {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#notification-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .action__buttons {
    padding: 0 20px;
  }
}