/* For app specific CSS that doesn't need to change based on settings */

.settings__list {
  margin-top: 20px;
}

form.navbar-form.navbar-right {
  margin-bottom: 0;
}

form.navbar-form.navbar-right .btn-default {
  color: inherit !important;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

form.navbar-form.navbar-right .btn-default:hover {
  background-color: transparent;
}

.navbar-nav li .glyphicon {
  margin-right: 10px;
}

.navbar-nav li a:hover {
  color: black !important;
}

#subheader {
  margin-top: -20px;
}

#subheader a {
  color: white;
}

#subheader a:hover {
  background-color: inherit;
}

.action__buttons {
  border-bottom-left-radius: 4px;
  position: absolute;
  right: 0;
  z-index: 1;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.delay-done .action__buttons {
  transform: translateX(0);
}

.action__buttons li a:focus {
  background-color: inherit;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

/* Show help on hover over inputs */
.form-group:hover > .help-block {
  display: block;
}

.well {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#notification-list {
  position: fixed;
  top: 0;
  right: 10px;
  width: 400px;
  margin-top: 60px;
  z-index: 10;
}


#notification-list .notification {
  transform: translateX(110%);
  display: table;
  width: 400px;
  padding: 20px;
  min-height: 144px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
}

#notification-list .notification.warning {
  background-color: rgba(255, 200, 200, 0.9);
}

#notification-list .notification.success {
  background-color: rgba(200, 255, 200, 0.9);
}

/* Slide notifications in */
#notification-list .notification.shown {
  transform: translateX(0);
}

#notification-list .notification .icon__left {
  display: table-cell;
  width: 20%;
  vertical-align: middle;
  padding-right: 0;
}

#notification-list .notification .row-content {
  display: table-cell;
  width: 80%;
}

#notification-list .notification .material-icons {
  font-size: 30px;
}

.list-group .list-group-item .row-content .least-content a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none !important;
}

.hidden {
  display: none;
}

/* <------ Smaller Window Sizes ------> */
@media screen and (max-width: 767px) {
  .action__buttons {
    padding: 0 20px;
  }

  #notification-list {
    margin-top: 50px;
  }

  #subheader {
    margin-top: -40px;
  }
}